@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-cinzel: "Cinzel", serif;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 639px) {
  .char-img-small,
  .card {
    height: 60%;
    width: 70%;
    object-fit: cover;
  }

  .card {
    margin: auto;
  }

  .card-con {
    width: 100%;
  }
}
