@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-cinzel: "Cinzel", serif;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 639px) {
  .char-img-small,
  .card {
    height: 60%;
    width: 70%; /* setengah dari ukuran default */
    object-fit: cover;
    margin: auto;
  }

  .card {
    margin: auto; /* supaya posisinya center */
  }

  .card-con {
    display: flex;
    flex-wrap: wrap; /* biar card tetap turun ke bawah */
    justify-content: center; /* center horizontal */
    align-items: center; /* center vertical kalau tinggi penuh */
  }
}
